# https://pypi.org/project/allianceauth-corptools/
allianceauth-corptools ==3.5.0
# allianceauth-corptools @ git+https://github.com/Solar-Helix-Independent-Transport/allianceauth-corp-tools.git@3.0.0b5

# https://pypi.org/project/aa-esi-status/
aa-esi-status ==4.2.3

# https://pypi.org/project/aa-top/
aa-top == 2.0.0

# https://pypi.org/project/allianceauth-oidc-provider/
allianceauth-oidc-provider ==0.0.3

# https://pypi.org/project/allianceauth-securegroups/
allianceauth-securegroups ==0.10.2

# https://pypi.org/project/aa-simplewiki/
#unused - 20260523-denny
#aa-simplewiki == 2.1.0

# https://pypi.org/project/django-eveuniverse/
django-eveuniverse ==2.1.0

# https://pypi.org/project/aa-package-monitor/
aa-package-monitor ==3.0.2

# https://pypi.org/project/allianceauth-blacklist/
allianceauth-blacklist ==0.2.1

# https://pypi.org/project/allianceauth-discordbot/
allianceauth-discordbot ==5.0.1

# https://pypi.org/project/allianceauth-celeryanalytics/
allianceauth-celeryanalytics ==0.1.1

# https://pypi.org/project/allianceauth-corptools-moons/
allianceauth-corptools-moons ==2.0.1

# https://pypi.org/project/allianceauth-auth-stats/
allianceauth-auth-stats ==0.1.2

# invoices - georgeforge dep
# https://pypi.org/project/allianceauth-invoices/
allianceauth-invoices ==0.1.9

# translate tool
# allianceauth-translate-tool == 0.0.1
allianceauth-translate-tool @ git+https://github.com/worthlesscarebears/allianceauth-translate-tool.git@add-openrouter-support

# https://pypi.org/project/allianceauth-corptools-pinger/
allianceauth-corptools-pinger ==1.2.0

# https://pypi.org/project/aa-secret-santa/#description
aa-secret-santa == 1.0.1

# https://github.com/CMBrando/cmStructureRegistry
cmStructureRegistry ==1.0.3

# https://github.com/CMBrando/cmShoppingList
cmShoppingList == 0.21

# https://pypi.org/project/allianceauth-georgeforge/
allianceauth-georgeforge[discord,webhook] == 0.6.7

# GeorgeForge ContractManager
allianceauth-gf-conman @ git+https://github.com/worthlesscarebears/gf_conman@f12c05eac8dde334dce5d5bdcd20b4d3933d4559

django-eveonline-sde ==0.2.0
#django-modeltranslation == 0.19.17 # sde properly pulls this in now

# https://pypi.org/project/sentry-sdk/
sentry-sdk ==2.68.1

# https://github.com/Solar-Helix-Independent-Transport/allianceauth-prom-client/
# not aav5 compat
#prometheus-redis-client == 0.6.0
#flask == 3.1.3
#allianceauth-prometheus-exporter @ git+https://github.com/Solar-Helix-Independent-Transport/allianceauth-prom-client.git@bcb18cf68a90aea98e743e14345669b6f13adad9

# https://pypi.org/project/aa-buybackprogram/
# aa-buybackprogram == 2.3.3
# If downgrading please go back to 0017 or stuff is going to be whack
aa-buybackprogram @ git+https://github.com/worthlesscarebears/allianceauth-buyback-program.git@7bd5fedf27a7bde2ef7f7bffea02311020c8d6e9
