name: renovate
on:
  schedule:
    - cron: "43 */4 * * *"
  workflow_dispatch: {}

permissions:
  contents: read
  pull-requests: write

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v44.2.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
